<div id="layoutSidenav">
    <div ng-include="'views/topnav.partial.html'"></div>
    <div ng-include="'views/sidenav.partial.html'"></div>
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <div class="mb-5" ui-view></div>
        </div>
        <footer class="py-3 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Hi-Precision Diagnostics</div>
                    <div>
                        <a href="#" class="link">Privacy Policy</a>
                        &middot;
                        <a href="#" class="link">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>