<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary justify-content-between">
    <div>
        <a class="navbar-brand text-uppercase bg-dark" href="#/">
            HP Reports
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" data-target="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!-- <div class="dropdown-divider"></div> -->
                <button ng-click="logout()" class="dropdown-item">Logout</button>
            </div>
        </li>
    </ul>
</nav>
